@import "tailwindcss";

@font-face {
	font-family: 'Nunito';
	src: url('./assets/font/Nunito-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
}

@theme {
	--color-black-100: #34353A;
	--color-black-200: #27272B;

	--color-white-100: #E8E9F3;
	--color-white-200: #F6F7EB;

	--color-primary: #16E08A;
	--color-primary-light: #94ECBE;

	--color-secondary: #6279B8;
	--color-secondary-light: #84A4D2;

	--font-nunito: Nunito, Inter, sans-serif;
  --breakpoint-3xl: 1800px;
}

@plugin "tailwind-scrollbar";