@import "tailwindcss";

@font-face {
	font-family: 'Nunito';
	src: url('./assets/font/Nunito-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
}

@theme {
	--color-primary: #3E885B;
	--color-primary-light: #2AC065;

	--color-secondary: #7D6B91;
	--color-secondary-light: #989FCE;

	--color-white-100: #FFFAFB;
	--color-white-200: #F4F4ED;

	--color-black-100: #2D2E2E;
	--color-black-200: #0F0F0F;

	--font-sans: Nunito, Inter, sans-serif;
}