@import "tailwindcss";

@font-face {
	font-family: 'Nunito';
	src: url('./assets/font/Nunito-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
}

@theme {
	--color-primary: #3E885B;
	--color-primary-light: #2AC065;

	--color-secondary: #7D6B91;
	--color-secondary-light: #989FCE;

	--color-white-100: #FFFAFB;
	--color-white-200: #F4F4ED;

	--color-black-100: #2D2E2E;
	--color-black-200: #0F0F0F;

	--font-sans: Nunito, Inter, sans-serif;
}

@layer components {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid white;
	}

	.nav-expand-btn {
		display: block;
	}

	.header-nav {
		/*positioning*/
		position: fixed;
		top: 0;
		right: 0;

		/*sizing and spacing*/
		width: 240px;
		height: 100vh;
		padding: 8em 2em;

		/*content layout*/
		display: flex;
		flex-direction: column;
		gap: 1em;

		/*styling*/
		background-color: var(--color-black-200);
	}

	@media only screen and (min-width: 640px) {
		.header-nav {
			/*positioning*/
			position: static;

			/*sizing and spacing*/
			width: auto;
			height: auto;
			padding: 0;

			/*content layout*/
			flex-direction: row;
			align-items: center;

			/*styling*/
			background-color: transparent;
		}
	}
}