@import "tailwindcss";

@theme {
  --color-backgroundLighter: #34353A;
  --color-backgroundDarker: #27272B;
  --color-textColor: #F6F7EB;
  --color-primaryLight: #84A4D2;
  --color-primaryDark: #6279B8;
  --color-secondaryLight: #94ECBE;
  --color-secondaryDark: #16E08A;
}

@plugin "tailwind-scrollbar";