name: Run Tests on Pull Request

on: pull_request
    

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
